{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="main-header">
            <div class="main-header__container container">
                <div class="breadcrumbs main-header__breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item"> <a class="breadcrumbs__link" href="#">главная</a>
                        </li>
                        <li class="breadcrumbs__item"> <a class="breadcrumbs__link" href="#">о нас</a>
                        </li>
                    </ul>
                </div>
                <h1 class="main-header__title">о нас</h1>
                <div class="main-header__caption"></div>
            </div>
        </div>
        <main class="main page__main">
            <section class="section no-padding">
                <div class="section__contrainer container">
                    <div class="about">
                        <div class="about__inner">
                            <h4 class="about__title">Беларусская мебель от Viva Kitchen</h4>
                            <div class="about__text">
                                <p>ViVakitchen представляет мебельные решения высокотехнологичного исполнения в неповторимом стиле и безупречного качества. Мы устойчиво развивающаяся и постоянно обновляющаяся компания, учитывающая изменения, тенденции и
                                    риски, происходящие во внешнем окружении.</p>
                                <p>Торговая марка ViVakitchen - это результат эффективного сотрудничества группы компаний: производственного предприятия ООО "Модерн-тех" и коммерческой компании ООО "СП Модерн-Тех". Если вам нужен лучший производитель и поставщик
                                    высококачественной мебельной продукции, Вы можете рассчитывать на нас в любое время, так как Вы – наш клиент!</p>
                                <p>Производственный процесс налажен на промышленном станочном парке с использованием современных индустриальных технологий, которые непрерывно совершенствуются, для всего производственного цикла, начиная от раскроя материала
                                    и заканчивая обработкой и упаковкой готовых изделий.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% endblock content %}