{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="main-header">
            <div class="main-header__container container">
                <div class="breadcrumbs main-header__breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item"> <a class="breadcrumbs__link" href="#">главная</a>
                        </li>
                        <li class="breadcrumbs__item"> <a class="breadcrumbs__link" href="#">акции</a>
                        </li>
                    </ul>
                </div>
                <h1 class="main-header__title">акции</h1>
                <div class="main-header__caption"></div>
            </div>
        </div>
        <main class="main page__main">
            <div class="main__container container">
                <div class="main__grid two-cols">
                    <div class="main__col">
                        <div class="promo-card">
                            <img class="promo-card__img" src="/static/img/general/promo/1.jpg" alt="">
                            <h4 class="promo-card__title"><span>Бесплатный</span> дизайн-проект</h4><a class="button promo-card__button" href="#">заказать проект </a>
                        </div>
                    </div>
                    <div class="main__col">
                        <div class="promo-card">
                            <img class="promo-card__img" src="/static/img/general/promo/2.jpg" alt="">
                            <h4 class="promo-card__title">Кухня и техника: <span>вместе выгодно!</span> </h4><a class="button promo-card__button" href="#">заказать проект</a>
                        </div>
                    </div>
                    <div class="main__col">
                        <div class="promo-card">
                            <img class="promo-card__img" src="/static/img/general/promo/3.jpg" alt="">
                            <h4 class="promo-card__title">Садовая мебель <span>со скидкой 15%</span></h4><a class="button promo-card__button" href="#">заказать проект</a>
                        </div>
                    </div>
                    <div class="main__col">
                        <div class="promo-card">
                            <img class="promo-card__img" src="/static/img/general/promo/4.jpg" alt="">
                            <h4 class="promo-card__title">Шкаф-купе <span> с выгодой!</span></h4><a class="button promo-card__button" href="#">заказать проект</a>
                        </div>
                    </div>
                    <div class="main__col">
                        <div class="promo-card">
                            <img class="promo-card__img" src="/static/img/general/promo/5.jpg" alt="">
                            <h4 class="promo-card__title">Столешница<span> в подарок!</span></h4><a class="button promo-card__button" href="#">заказать проект</a>
                        </div>
                    </div>
                    <div class="main__col">
                        <div class="promo-card">
                            <img class="promo-card__img" src="/static/img/general/promo/6.jpg" alt="">
                            <h4 class="promo-card__title"><span>Скидка</span> на новые фасады!</h4><a class="button promo-card__button" href="#">заказать проект</a>
                        </div>
                    </div>
                    <div class="main__col">
                        <div class="promo-card">
                            <img class="promo-card__img" src="/static/img/general/promo/5.jpg" alt="">
                            <h4 class="promo-card__title"><span>Скидка 20 % </span> на топ-модели!</h4><a class="button promo-card__button" href="#">заказать проект</a>
                        </div>
                    </div>
                    <div class="main__col">
                        <div class="promo-card">
                            <img class="promo-card__img" src="/static/img/general/promo/6.jpg" alt="">
                            <h4 class="promo-card__title">Столовые группы <span>со скидкой 30%</span></h4><a class="button promo-card__button" href="#">заказать проект</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>


{% endblock content %}