

<section class="section">
            <div class="section__container container">
                <div class="section__header">
                    <h4 class="section__title">поможем вам подобрать дизайн</h4>
                </div>
                <div class="feedback section__feedback" style="background: url('/static/img/general/feedback/1.jpg') no-repeat; background-size: cover;">
                    <div class="feedback__data">
                        <h4 class="feedback__title">ПОЛУЧИТЕ <br> БЕСПЛАТНЫЙ <br> ДИЗАЙН-ПРОЕКТ</h4>
                        <div class="feedback__caption">заполните анкету и мы с вами свяжемся</div>
                    </div>
                    <form class="form feedback__form" action="#">
                        <div class="form__fields">
                            <div class="form__field">
                                <div class="form__label">ФИО</div>
                                <input class="form__input" type="text" placeholder="Ваше Имя">
                            </div>
                            <div class="form__field">
                                <div class="form__label">номер телефона</div>
                                <input class="form__input" type="tel" placeholder="Ваш телефона">
                            </div>
                            <div class="form__field">
                                <div class="form__label">город</div>
                                <input class="form__input" type="text" placeholder="Ваш город">
                            </div>
                        </div>
                        <button class="button form__send">заказать проект</button>
                    </form>
                </div>
            </div>
        </section>


<footer class="page-footer page__footer">
            <div class="page-footer__container container">
                <div class="page-footer__inner">
                    <div class="page-footer__left">
                        <a class="page-footer__logo" href="/">
                            <img src="/static/img/general/logo.png" alt="" />
                        </a>
                        <div class="contacts-box page-footer__contacts">
                            <div class="contacts-box__item">номер<a class="contacts-box__link" href="tel:+79182073388">+7(918)207-33-88</a>
                            </div>
                            <div class="contacts-box__item">почта<a class="contacts-box__link" href="mailto:sochi@viva-kitchen.com">sochi@viva-kitchen.com </a>
                            </div>
                            <div class="contacts-box__item">адрес<a class="contacts-box__link" href="#" target="_blank">Сочи, ул. Конституции, 32</a>
                            </div>
                        </div>
                        <div class="socials page-footer__socials">
                            <a class="socials__link" href="#">
                                <img src="/static/img/general/icons/wa-red.svg" alt="" />
                            </a>
                            <a class="socials__link" href="#">
                                <img src="/static/img/general/icons/inst-red.svg" alt="" />
                            </a>
                            <a class="socials__link" href="#">
                                <img src="/static/img/general/icons/tg-red.svg" alt="" />
                            </a>
                        </div>
                        <div class="studio page-footer__studio">разработка<a href="#" target="_blank">Нарт Басария </a>
                        </div>
                    </div>
                    <div class="page-footer__right">
                        <div class="page-footer__col">
                            <div class="page-footer__title">кухни</div>
                            <ul class="footer-menu page-footer__menu">
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Современные кухни</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Классические кухни</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Кухни лофт</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Персональный дизайн</a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-footer__col">
                            <div class="page-footer__title">портфолио</div>
                            <ul class="footer-menu page-footer__menu">
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Выполненные проекты</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Полезные статьи</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Отзывы</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Дизайн кухни</a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-footer__col">
                            <div class="page-footer__title">покупателю</div>
                            <ul class="footer-menu page-footer__menu">
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Личный кабинет</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Оплата онлайн</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Стоимость базовых</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">компоновок</a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-footer__col">
                            <div class="page-footer__title">партнеру</div>
                            <ul class="footer-menu page-footer__menu">
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Застройщику</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Дизайнеру интерьера</a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-footer__col">
                            <div class="page-footer__title">товары</div>
                            <ul class="footer-menu page-footer__menu">
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Диваны</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Техника</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Сантехника</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Аксессуары</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Садовая мебель</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Столовые группы</a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-footer__col">
                            <div class="page-footer__title">каталог материалов</div>
                            <ul class="footer-menu page-footer__menu">
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Цвета кухонь</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Экологичность </a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Эргономика</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Сертификаты</a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-footer__col">
                            <div class="page-footer__title">наши услуги</div>
                            <ul class="footer-menu page-footer__menu">
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Бесплатный проект</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Бесплатный замер</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Доставка и сборка</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Гарантия</a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-footer__col">
                            <div class="page-footer__title">о компании</div>
                            <ul class="footer-menu page-footer__menu">
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Фабрика</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Новости</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Сертификаты</a>
                                </li>
                                <li class="footer-menu__item"> <a class="footer-menu__link" href="#">Дипломы</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>