{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="main-header">
            <div class="main-header__container container">
                <div class="breadcrumbs main-header__breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item"> <a class="breadcrumbs__link" href="/">главная</a>
                        </li>
                        <li class="breadcrumbs__item"> <a class="breadcrumbs__link" href="#">о нас</a>
                        </li>
                    </ul>
                </div>
                <h1 class="main-header__title">о нас</h1>
                <div class="main-header__caption"></div>
            </div>
        </div>
        <main class="main page__main">
            <section class="section no-padding">
                <div class="section__contrainer container">
<div class="process__photo img-cover" style="padding-bottom:0px;">
             <iframe width="100%"  height="315" src="https://www.youtube.com/embed/fFDYPBNu7vM?si=VnWufiAiOlAQAaqs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="about">
                        <div class="about__inner">
                            <h4 class="about__title">Беларусская мебель от Viva Kitchen</h4>
                            <div class="about__text">
                                <p>VIVAKITCHEN - мастер в изготовлении качественных кухонь и мебели известный на рынке мебельной индустрии своим богатым опытом и сильной репутацией. Мы приветствуем вас в мире VIVAKITCHEN и обеспечим вас максимальным удовлетворением от продукции и услуг, которые мы предлагаем.Мы стремимся к тому, чтобы каждый клиент получил самые высокие результаты от работы с нами. Наша продукция прекрасно подходит для любых интерьеров и выдерживает самые строгие стандарты качества. Мы работаем с особой тщательностью и вниманием к деталям при изготовлении каждой кухни и мебели, чтобы дарить вам максимальное удовольствие.
VIVAKITCHEN позиционируется как один из лидеров на рынке мебели. Мы гордимся нашей компетентностью и опытом, который мы приобрели за годы работы. Наш ассортимент охватывает широкий спектр услуг, таких как разработка дизайнов кухонь и мебели, проектирование, изготовление и монтаж. Мы обеспечим вас надежностью и качеством, которых вы заслуживаете.</p>
                                <p>Клиент - наша главная ценность, и мы стремимся удовлетворить его максимально. Мы предлагаем индивидуальный подход к каждому проекту и работаем в тесном контакте с нашими клиентами, чтобы обеспечить максимально удовлетворение от нашей продукции и услуг. Наша команда состоит из профессионалов, которые будут сопровождать вас на всех этапах проекта: от набросков на бумаге до готового изделия. Мы гарантируем вам профессиональное отношение и особое внимание к каждой детали.</p>
                                <p>Мы стремимся сделать мир лучше с помощью нашей продукции. Мы принимаем ресурсы и материалы, которые мы используем, очень серьезно и всесторонне контролируем весь процесс производства. Наша продукция обладает высокой степенью износостойкости и долговечности, что гарантирует ее долгосрочную устойчивость и минимизирует негативное влияние на окружающую среду. 
</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% endblock content %}
