{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="main-header">
            <div class="main-header__container container">
                <div class="breadcrumbs main-header__breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item"> <a class="breadcrumbs__link" href="/">главная</a>
                        </li>
                        <li class="breadcrumbs__item"> <a class="breadcrumbs__link" href="#">покупателям</a>
                        </li>
                    </ul>
                </div>
                <h1 class="main-header__title">ПОКУПАТЕЛЯМ</h1>
                <div class="main-header__caption"></div>
            </div>
        </div>
        <main class="main page__main">
            <div class="main__container container">
                <div class="process main__process">
                    <div class="process__photo img-cover" style="padding-bottom:0px;">
                         <iframe width="100%" height="374" src="https://www.youtube.com/embed/WyXcemB01Sw?si=cSyM2I9rJtF5HWRL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="process__inner">
                        <div class="process__text">Изготовление кухни-это сложный многоступенчатый процесс. Но для наших клиентов-это всего четыре простых шага в сопровождени персонального дизайнера</div>
                        <div class="process__data">

                            {% for process in  process_list %}
                            <div class="process__card">
                                <div class="process__card-header">
                                    <div class="process__card-title">{{process.name}}</div>
                                    <div class="process__card-circle"></div>
                                </div>
                                <div class="process__card-body">
                                    <p>{{process.description}}</p><a class="button process__card-button" href="https://wa.me/79182073388?text=Здравствуйте,%20мне%20хотелось%20бы%20заказать%20у%20Вас%20проект..">заказать проект </a>
                                </div>
                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </main>

{% endblock content %}
